body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eddef3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #4d1d7c
  }
  
  input[type="text"], input[type="date"], select, button {
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #7830ff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4b00b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  .completed {
    text-decoration: line-through;
  }
  
  .pending {
    color: black;
  }
  
  .completed {
    color: green;
  }
  
  .low {
    color: orange;
  }
  
  .medium {
    color: blue;
  }
  
  .high {
    color: red;
  }
  